body {
  font-family: 'Montserrat', sans-serif;
}
a {
  text-decoration: none;
}
p {
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  color: #949494;
}
.header {
  padding: 50px 0 105px;
  
  background: url(../img/header/header-background.jpg) center no-repeat;
background-size: cover;
}
.main-menu {
  float: right;

  margin-top: 10px;
}
.main-menu ul li {
  display: inline-block;

  list-style: none;
}
.main-menu a {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;

  padding: 7px 13px;

  color: #000;
}
.main-menu a:hover {
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 18.5px;
}
.logo {
  font-size: 36px;
  font-weight: 700;
  line-height: 24px;

  color: #000;
}
span {
  font-weight: 300;
}
.header-text {
  margin: 222px 0 64px;

  text-align: center;
}
.title,
.title-2 {
  font-weight: 700;
  line-height: 36px;
}
.title {
  font-size: 48px;
}
.title-2 {
  font-size: 30px;
}
.header-text__subtitle {
  font-weight: 400;
  
  margin: 10px 0 65px;
}
.roundedr-rectangle {
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;

  display: block;

  max-width: 205px;
  padding: 7px 0;

  text-align: center;

  color: #fff;
  border-radius: 25px;
  background: linear-gradient(74deg, #49007c 0%, #e70088 100%);
}
.header .roundedr-rectangle {
  margin: 0 auto 419px;
}
.scroll-down {
  text-align: center;
}
.scroll-down__text {
  color: #fff;
}
.scroll-down__img {
  width: 43px;
  margin-bottom: 9px;
}
.design-code {
  background: url(../img/design-code/design-code-bg.jpg) center no-repeat;
  background-size: cover;
  color: #fff;
  padding: 150px 0 145px;
}
.design-code p {
  margin: 20px 0 40px;
  color: #fff;
}
.what-we-do {
  padding: 100px 0 105px;
}
.what-we-do .title {
  text-align: center;
}
.what-we-do__content {
  margin: 88px 0 101px;
}
.what-we-do__img {
  display: inline-block;
  margin-right: 36px;
  vertical-align: top;
}
.what-we-do__text {
  display: inline-block;
  max-width: 363px;
}
.what-we-do .roundedr-rectangle {
  margin: 0 auto;
}


.map {
  background: url(../img/map/map.jpg) center no-repeat;
  background-size: cover;
}
.map img {
  margin: 262px auto 282px;
}
.footer p {
  line-height: 36px;
  color: #a7acbc;
  text-align: center;
  padding: 60px 0 580px;
}